<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358101406987-d06i2fhrsfjb7j8t3qmi6k72l492svve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358101406987-d06i2fhrsfjb7j8t3qmi6k72l492svve</string>
	<key>API_KEY</key>
	<string>AIzaSyCimWHl73fyPqOlMDXusqcUVSJk0vbgmEc</string>
	<key>GCM_SENDER_ID</key>
	<string>358101406987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-64776</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-64776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358101406987:ios:b74c4922d23c20b9c2fe0e</string>
</dict>
</plist>